<p id="notice"><%= notice %></p>

<p>
  <b>Pep seq:</b>
  <%= @peptide.pep_seq %>
</p>

<p>
  <b>Rank product:</b>
  <%= @peptide.rank_product %>
</p>

<p>
  <b>Penalized rp:</b>
  <%= @peptide.penalized_rp %>
</p>

