<h3> About </h3>

<p>This site serves to view results from an acetylation study.</p>
<p><br/></p>
<p style="font-size:1.3em">Data</p>
<p><br/></p>
<p>
	All samples are human platelets with multiple biological replicates, which means all the sample preparation and mass spectrometry are independent.
</p>
<br/>
<p style="font-size:1.3em">Working with the results</p>
<p><br/></p>
<p>
	Isolated the peptides that apply for the following
	<ol>
		<li>are modified by Acetyl</li>
		<li>choose the ones with the highest score</li>
		<li>choose the ones with rank 1</li>
		<li>calculate rank product using peptide score to sort them by significance</li>
		<li>filter by identification probability (pep_expect), where cutoff values are 0.05, 0.5 and 10</li>
	</ol>
</p>






