<h3> Help </h3>

<p>Some help information on how to use this site, and what the results page mean.</p>
<p><br/></p>
<p style="font-size:1.3em">Querying Aspirin database</p>
<p><br/></p>
<p>
	<ol>
		<li>There are two options to filter the results. One is the name of the experiment (3H-Acetylation or Endogenous Acetylation) and second the cutoff (none, 0.05, 0.5) for the peptide expectancy value.</li>
		<li>You have to select both filters.</li>
		<li>By default if you choose no filtering, the results viewed are from the 3H-Acetylation experiment, and include the full peptides list, with no cutoff applied.</li>
	</ol>
</p>
<br/>
<p style="font-size:1.3em">About the peptide list</p>
<p><br/></p>
<p>
	<ol>
		<li>Rank Product: score each peptide to sort them by significance (the lowest the better)</li>
		<li>Penalty: additional small penalty in the rank product</li>
	</ol>
</p>
<br/>
<p style="font-size:1.3em">Getting more information</p>
<p><br/></p>
<p>
	If you click on each peptide, you will see all the psms that apply for this peptide, taking into account the preselected filters.
	<ol>
		<li>Query: </li>
		<li>Protein accession: identifier to search through database entries</li>
		<li>Peptide score: </li>
		<li>Peptide expectancy: </li>
		<li>Replicate: the raw data file</li>
		<li>Modification: locations of all modified residues and actual modified residues</li>
		<li>Title: spectrum identification</li>
		<li>Spectra: the figure for each psm that represents the intensities over the amino acid masses through the peptide. Red peaks are the significant ones. With blue peaks is the full spectrum. </li>
		<li>Assigned y-ions table: the table that contains only the significant transitions, keeping track of their index and the theis m/z and intensity values.</li>
		<li>There are multiple psms for each peptide.</li>
	</ol>
</p>
<br/>

