<h3> Help </h3>
<h1>Querying Aspirin database</h1>
<p>
	 You can filter the results by:
	 <ol>
		<li>experiment (3H-Acetylation or Endogenous Acetylation)</li>
		<li>peptide expectancy threshold (none, 0.05, 0.5)</li>
		<li>maximum peptide length (if no value is entered, the filter has no effect)</li>
		<li>enzyme T or TG (if none value is entered, the filter has no effect)</li>
		<!-- 
		<li>peptide spectrum matches (all, with significant peaks only) 
			<br/>The condition 'with significant peaks only' shows the peptides with at least one PSM that has at least one assigned ion among the top 5 peaks in the spectrum.</li> 
		-->
	</ol>
</p>
<br/>

<h1>About the peptide list</h1>
<p>
	The peptide list is firstly sorted by descending the number of the assigned ions on the top 3 peaks of the best spectrum match, and secondly by ascending the penalized rank product score. The most significant peptide appears first in the list.
	<ol>
		<li>Rank Product: score for each peptide to sort them by significance (the lowest the better). <br/> The + replicates are being sorted by descending the pep_score, while the - reps are being sorted by ascending the pep_score. This is done to get lowest (worst) rank for the peptides located in - replicates (penalty-like scoring). Each peptide found in a replicate could be found more than once, so the rank of the hit with the highest pep_score was chosen. If a peptide is not found in a replicate means that it was highly impossible so it gets by default the lowest rank in the replicate.</li>
		<li>Penalty: additional penalty applied on the rank product.<br/>Multiplied by 10 the ranks in the - replicates. This penalty is not applied if a peptide is not found in a replicate, it just gets by default the lowest rank in the replicate.</li>
		<li>Assigned ions on top 3 peaks of best spectrum match: additional sorting to identify significant peptides (the highest the count, the most confident it is).<br/>Counted the assigned ions on the 3 top peaks of each spectrum matches. Kept the best spectrum match.</li>
	</ol>
</p>
<br/>

<h1>Getting more information about the peptide spectrum matches</h1>
<p>
	Click on each peptide sequence, to view all the matches found for this peptide, taking into account the preselected filters. The psms are sorted by peptide score, in descending order.
	<ol>
		<li>Query: a mascot search for a single MS/MS spectra against the protein database</li>
		<li>Protein accession: identifier to search through database entries</li>
		<li>Peptide score: a peptide spectrum match (PSM) is assigned a score based on the number and type of ions that are present in the spectrum </li>
		<li>Peptide expectancy: </li>
		<li>Replicate: the raw data file</li>
		<li>Modification: locations of all modified residues and actual modified residues. K(2) means that there is a modification in the amino acid K that is in the second position through the peptide.</li>
		<li>Title: spectrum identification</li>
		<li>Number of spectrums in which each ion is assigned as the most intense: Find the ion with highest intensity in all PSMs and count the PSMs in which each ion is the most intense. The table shows per ion the <b>number of spectrums where the ion was the most intense out of the total number of spectrums</b> (ex. 4/5 which means that the ion is the most intense in 4 of the 5 spectrums). Most intense ions are bolded.</li>
		<li>Number of the most intense peaks that correspond to assigned ions, in total spectrums: Shown as <b>number of assigned ions / 5 most intense peaks in x / total number of spectrums</b>. If the number calculalted is over 50% (ex. 2/5 in 4/5, which means that 2 ions are assigned to the top 5 peaks, in 4 out of 5 spectrums), then the ions are bolded as significant. </li>
		<li>Spectrum: mass spectrum labelled with fragment ions. The figure for each psm that represents the intensities over the amino acid masses through the peptide. Red peaks are the significant ones. With black peaks is the full spectrum. </li>
		<li>Matched fragment ions table: the significant transitions. The masses are shown in a combined format of: <b>theoretical mass (assigned experimental mass : assigned intensity)</b>. The 3 most intense peaks are bolded.</li>
		<li>There are multiple psms for each peptide.</li>
	</ol>
</p>
<br/>

<h1>Getting more information about the protein</h1>
<p>
	Click on a protein accession number in a PSM, to view details like species, genename, protein description and sequence, as well as the conservation of the modification through various species.
	<ol>
		<li>
			Sequence: The peptide and its modifications highlighted through the protein sequence. The peptide is highlighted with red and the modifications with blue.
		</li>
		<li>
			Multiple alignment: The acetyl amino acid modification highlighted to view if it is conserved through different species.
			<br/><br/>
			The species aligned are:
			<br/>
			<ol>
				<li>hg19 (human)</li>
				<li>rn4 (rat)</li>
				<li>oryCun2 (rabbit)</li>
				<li>mm9 (mouse)</li>
				<li>gorGor1 (gorilla)</li>
				<li>bosTau4 (cow)</li>
				<li>danRer6 (zebrafish)</li>
				<li>galGal3 (chicken)</li>
			</ol>
		</li>
	</ol>
</p>
<br/>
