/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table {
	width:100%;
	border-collapse:collapse;
}
th, td {
	text-align:left;
	padding:12px;
	color: 333;
}
thead{
	border-bottom: 2px solid #333;
	color: 333;
}
td a:link {
	color:#900;
	text-decoration:none;
}
td a:visited {
	color:#600;
}
td a:hover {
	color:#FF0000;
	background-color: #FFF;
}
td a:active {
	color:#0000FF;
}

#pagewrapper {
    width: 1200px;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    padding: 20px 10px;
}
#header {
    background-color: #900;
    margin: 0;
    padding: 0;
    background-image:url(../images/aspirin.jpg);
	background-repeat:no-repeat;
}
#header p {
    padding: 20px 10px;
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#footer {
    background-color: #999;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #333;
    text-align: center;
}
#footer p, #footer a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
}

/* Navigation Bar */

#navbar ul {
    padding: 0;
    margin: 0;
    background-color: #999;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #333;
}
#navbar ul li {
    display: inline;
    color: White;
    float: left;
    border-right: 1px solid #333;
    font-family: arial, helvetica, sans-serif;
}
#navbar ul li a {
    padding: 0.2em 0.7em;
    background-color: #999;
    color: White;
    text-decoration: none;
    float:left;
}
#navbar ul li a:hover {
    background-color: #333;
    color: #fff;
}
